@import 'tailwindcss';

img {
	width: 218px;
	height: auto;
	max-width: none;
}

.animate-loop {
	animation: loop 30s linear infinite;
}

@keyframes loop {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(calc(-100% - 16px));
	}
}

.paused {
	animation-play-state: paused;
}

.playing {
	animation-play-state: running;
}
